@import "tailwindcss";
@import "./author.css";
@import "./quilon.css";

@theme inline {
  --font-author: "Author", sans-serif;
  --font-quilon: "Quilon", sans-serif;

  /* --color-*: initial; */
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-yellow: #ffd167;
  --color-navy: #1d1b56;
  --color-light-blue: #5db0be;
  --color-orange: #ee7b43;
  --color-purple: #9f86be;
  --color-light-purple: #dedcee;
  --color-green: #4a7956;
  --color-light-green: #a0d5b5;

  --color-extralight-yellow: #ffdf96;
  --color-extralight-purple: #efedf2;
  --color-extralight-green: #d9e3db;
  --color-extralight-orange: #fce5d9;
}

body {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@layer components {
  .display-title {
    @apply font-quilon text-[115px];
  }
  .section-title {
    @apply font-quilon mb-9 text-5xl md:mb-12;
  }
  .title {
    @apply font-quilon text-3xl font-light md:text-5xl;
  }
  .body-copy {
    @apply font-author text-xl font-extralight xl:text-2xl;
  }

  .button {
    @apply font-quilon rounded-full px-4 py-2 whitespace-nowrap transition-all duration-100 hover:scale-[102%] active:scale-[98%] md:px-6 md:py-4;
  }

  .card-grid {
    @apply mx-auto hidden max-w-screen-2xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid lg:grid-cols-3 xl:gap-8;
  }

  .card {
    @apply relative col-span-1 flex size-full flex-col items-center overflow-hidden rounded-3xl;
  }

  .event-details {
    @apply absolute inset-0 z-10 flex size-full translate-y-full flex-col items-start justify-between overflow-y-scroll px-8 pt-16 pb-8 transition-transform duration-300;
  }

  .endcap-top-white {
    clip-path: shape(from 100% 0, curve to 0 50% with 50% 80%, line to 0 0);
    @apply -my-[1px] mb-12 h-[50px] w-full bg-white;
  }
  .endcap-top-light-blue {
    clip-path: shape(from 100% 0, curve to 0 50% with 50% 80%, line to 0 0);
    @apply bg-light-blue -my-[1px] h-[50px] w-full;
  }
  .endcap-top-navy {
    clip-path: shape(from 100% 0, curve to 0 50% with 50% 80%, line to 0 0);
    @apply bg-navy -my-[1px] h-[50px] w-full;
  }

  .endcap-bottom-white {
    clip-path: shape(
      from 0 100%,

      curve to 100% 50% with 60% -10%,
      line to 100% 100%
    );
    @apply -my-[1px] h-[50px] w-full bg-white;
  }

  .endcap-bottom-yellow {
    clip-path: shape(
      from 0 100%,

      curve to 100% 50% with 60% -10%,
      line to 100% 100%
    );
    @apply bg-yellow -my-[1px] h-[50px] w-full;
  }

  .footer-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .footer-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .left-card-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .right-card-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .minster-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .central-library-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .library-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-main-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-main-fan-container-mobile {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-left-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-left-fan-container-mobile {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero-right-fan-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .ray-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 6px;
    height: 300%;
    transform: translateX(-50%) translateY(60%) rotate(calc(var(--i) * 5deg));
    @apply bg-extralight-yellow/40;
  }

  .light-purple-ray-line {
    position: absolute;
    width: 3px;
    height: 100%;
    transform: rotate(calc(var(--i) * 3deg));
    @apply bg-purple/6 top-0 left-1/2;
  }

  .purple-ray-line {
    position: absolute;
    width: 10px;
    height: 100%;
    transform: rotate(calc(var(--i) * 5deg));
    @apply bg-purple top-0 left-1/2;
  }

  .minster-ray-line {
    position: absolute;
    width: 13px;
    height: 100%;
    transform: rotate(calc(var(--i) * 3deg));
    @apply bg-purple top-0 left-1/2;
  }

  .central-ray-line {
    position: absolute;
    width: 13px;
    height: 100%;
    transform: rotate(calc(var(--i) * 3deg));
    @apply bg-extralight-green top-0 left-1/2;
  }

  .library-ray-line {
    position: absolute;
    width: 13px;
    height: 100%;
    transform: rotate(calc(var(--i) * 3deg));
    @apply bg-green top-0 left-1/2;
  }

  .hero-ray-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 6px;
    height: 0px;
    transform: translateX(-50%) translateY(50%) rotate(calc(var(--i) * 3deg));
    @apply bg-extralight-yellow/40;
  }

  .hero-ray-line-mobile {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 6px;
    height: 1500px;
    transform: translateX(-50%) translateY(50%) rotate(calc(var(--i) * 3deg));
    @apply bg-extralight-yellow/40;
  }

  .hero-left-ray-line {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 2px;
    height: 85%;
    transform: translateX(-50%) translateY(50%) rotate(calc(var(--i) * 3deg));
    @apply bg-orange;
  }

  .hero-right-ray-line {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 8px;
    height: 100%;
    transform: translateX(-50%) translateY(50%) rotate(calc(var(--i) * 6deg));
    @apply bg-orange;
  }

  .building {
    opacity: 0;
  }

  .building-shadow {
    opacity: 0;
  }

  #author-swiper .swiper-pagination-bullet-active {
    background: #9f86be !important;
  }

  #workshop-swiper .swiper-pagination-bullet-active {
    background: #4a7956 !important;
  }

  #family-swiper .swiper-pagination-bullet-active {
    background: #ee7b43 !important;
  }
}
